.article-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

.article-list li {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  padding: 0;
}

.MuiCard-root {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.MuiCard-root:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
